.rgb-266-background {
  background-color: rgb(226, 226, 226);
}
.grey-background {
  background-color: gray;
}
.white-background {
  background-color: white;
}
.green-background {
  background-color: green;
}
.rgb-170-color {
  color: rgb(170, 170, 170);
}
.text-size-5rem {
  font-size: 5rem;
}
.header {
  padding: 1rem;
  border-radius: 0px 0px 5px 5px;
}
.no-margin {
  margin: 0px;
}
.brand-logo {
  list-style-type: none;
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
}
.right {
  float: right;
}
.list-buttons {
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
  font-size: 2rem;
}
.submit-buttons {
  margin: 5px;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  font-size: 2rem;
}
.size-2rem {
  font-size: 2rem;
}
ul {
  list-style-type: none;
}
.align-center {
  text-align: center;
}
.font-arial-sansserif {
  font-family: Arial, sans-serif;
}
