.align-center {
  text-align: center;
}
.brand-logo {
  list-style-type: none;
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
}
.currency-info {
  border: 3px solid green;
  border-radius: 7px;
  width: 50%;
  text-align: center;
  margin: auto;
}
.font-arial-sansserif {
  font-family: Arial, sans-serif;
}
.grey-background {
  background-color: gray;
}
.green-background {
  background-color: green;
}
.green-border {
  border: 3px solid green;
}
.header {
  padding: 1rem;
  border-radius: 0px 0px 5px 5px;
}
.list-buttons {
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
  font-size: 2rem;
  display: inline;
}
.link_buttons {
  background-color: green;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 3px;
}

.rgb-266-background {
  background-color: rgb(226, 226, 226);
}

.white-background {
  background-color: white;
}

.rgb-170-color {
  color: rgb(170, 170, 170);
}
.red-color {
  color: red;
}
.text-size-5rem {
  font-size: 5rem;
}
.header {
  padding: 1rem;
  border-radius: 0px 0px 5px 5px;
}
.margin-auto {
  margin: auto;
}
.no-margin {
  margin: 0px;
}

.right {
  float: right;
}
.size-2rem {
  font-size: 2rem;
}
.submit-buttons {
  margin: 5px;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  font-size: 2rem;
}
ul {
  list-style-type: none;
}
.widthHeight-2rem {
  width: 2rem;
  height: 2rem;
}
.width-50p {
  width: 50%;
}
